<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>FilterRequest</filter-name>
        <filter-class>filters.RequestFilter</filter-class>
        <!--
        <init-param>
            <param-name>excludedUrls</param-name>
            <param-value>/login,/dashboard,/logout,/register,/developers,/notice,/index.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>excludedStartWith</param-nam3e>
            <param-value>/css/,/js/,/img/</param-value>
        </init-param>
        -->
    </filter>
    <filter>
        <filter-name>JDBCFilter</filter-name>
        <filter-class>filters.JDBCFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>JDBCFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterRequest</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NoticeServlet</servlet-name>
        <servlet-class>controller.NoticeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileHandler</servlet-name>
        <servlet-class>utils.FileHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>downloadfile</servlet-name>
        <servlet-class>utils.downloadfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PreviewServlet</servlet-name>
        <servlet-class>controller.PreviewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SpecialUserServlet</servlet-name>
        <servlet-class>controller.SpecialUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DevelopersServlet</servlet-name>
        <jsp-file>/developers.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>DevelopersServlet</servlet-name>
        <url-pattern>/developers</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <jsp-file>/WEB-INF/dashboard.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NoticeServlet</servlet-name>
        <url-pattern>/notice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileHandler</servlet-name>
        <url-pattern>/FileHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>downloadfile</servlet-name>
        <url-pattern>/downloadfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreviewServlet</servlet-name>
        <url-pattern>/viewnotice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SpecialUserServlet</servlet-name>
        <url-pattern>/requestprime</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
